{{#if showErrorMessage}}
  <div class="row">
    <div class='col-md-9'>
      <div class='alert alert-danger'>
          <i class="fa fa-2x fa-exclamation-triangle errorForValidation"></i>
          &nbsp;
          {{errorMsg}}
      </div>
    </div>
  </div>
{{/if}}

{{#if session.isAuthenticated}}
  <a {{ action 'invalidateSession' }}>Logout</a>
{{else}}

  Enter your Red Hat account information.

  <div class='row'>
    <div class='col-md-12'>
      <br />
      <form class="form form-horizontal">
        {{text-f label="Red Hat login" value=username}}
        {{text-f label="Password" value=password type='password'}}

          {{#base-f}}
            <a href='https://www.redhat.com/wapps/sso/lostPassword.html' target='_blank'>
              Forgot your login or password?
            </a>
          {{/base-f}}
      </form>
    </div>
  </div>

    <br />
    <br />
    <div class='pull-right'>
      <br />
      {{button-f disabled=disableCredentialsNext title=buttonLoginTitle action="authenticate"}}
    </div>

{{/if}}
